[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "ALLOW-FROM https://ok.ru"
    Content-Security-Policy = "frame-ancestors 'self' https://ok.ru https://*.ok.ru;"
    Access-Control-Allow-Origin = "*"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
